{% extends 'layout.njk' %}
{% block content %}

  <h1 >Mars Rover Photos</h1>
  <form action="/rover" method="post">
    <div>
      <label for="userId">Id</label>
      <input
        type="text"
        name="userId"
        id="userId"
        required
      />
    </div>
    <div>
      <label for="userName">Name</label>
      <input
        type="text"
        name="userName"
        id="userName"
        required
      />
    </div>
    <div>
      <label for="apiKey">API Key</label>
      <input
        type="text"
        name="apiKey"
        id="apiKey"
        required
      />
    </div>
    <button type="submit">Submit</button>
  </form>
{% endblock %}