{% extends 'layout.njk' %}

{% block content %}
  <h1>Meteor Information</h1>
  
  {% if wereDangerousMeteors %}
    <p>There were potentially hazardous meteors.</p>
  {% endif %}
  {% if count %}
    <p>Total number of meteors: {{ count }}</p>
  {% endif %}
  
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Min Estimated Diameter (meters)</th>
        <th>Max Estimated Diameter (meters)</th>
        <th>Hazardous</th>
        <th>Close Approach Date</th>
      </tr>
    </thead>
      <tbody>
        {% for meteor in meteorData %}
          <tr>
            <td>{{ meteor.name }}</td>
            <td>{{ meteor.diameter.estimated_diameter_min }}</td>
            <td>{{ meteor.diameter.estimated_diameter_max }}</td>
            <td>{{ meteor.is_potentially_hazardous_asteroid }}</td>
            <td>{{ meteor.close_approach_date_full }}</td>
          </tr>
        {% endfor %}
      </tbody>
  </table>

{% endblock %}